{% extends "../../template.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 d-flex">
        <h4 class="m-4"><i class="fa fa-users"></i>{{ pagename }}</h4>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <th scope="col">Nombre</th>
                <th scope="col">Razon social</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Email</th>
                <th scope="col">Provincia</th>
                <th scope="col">Localidad</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}