{% extends "../../template.html" %} {% block styles %} {% endblock %} {% block
content %}
<div class="row">
  <div class="col-md-12 d-flex flex-col flex-lg-row align-items-center">
    <h4 class="m-4"><i class="fa fa-users"></i> {{ pagename }}</h4>
    <div
      class="ml-lg-auto d-flex flex-column flex-lg-row justify-content-end"
      style="gap: 1rem"
    >
      <div class="form-inline">
        <label for="txtBuscar">Buscar</label>
        <input
          type="text"
          class="form-control"
          id="txtBuscar"
          placeholder="Buscar cliente..."
          autocomplete="off"
        />
      </div>
      <div class="form-inline">
        <label for="filtroProv">Provincia</label>
        <select id="filtroProv" class="form-control" onchange="cargaDatos()">
          <option value="t">Todas</option>
          {% for p in provincias %}
          <option value="{{ p.id }}">{{ p.nombre }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-inline">
        <label for="">Localidades</label>
        <select id="cmbFiltroLoc" class="form-control">
          <option value="t">Todas</option>
        </select>
      </div>
      <div class="form-inline">
        <button class="btn btn-round btn-success" onclick="Alta()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <table id="tablaClientes" class="table">
      <thead>
        <th scope="col">Acciones</th>
        <th scope="col">Nombre</th>
        <th scope="col">Razon social</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Provincia</th>
        <th scope="col">Localidad</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!--Modal Ver-->
<div
  class="modal fade"
  id="modalVer"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ver Cliente</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-2">
          <div class="col-md-6">
            <span class="v">Nombre:</span>
            <span id="vNombre"></span>
          </div>
          <div class="col-md-6">
            <span class="v">Razon Social:</span>
            <span id="vRsocial"></span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <span class="v">Teléfono:</span>
            <span id="vTelefono"></span>
          </div>
          <div class="col-md-6">
            <span class="v">Email:</span>
            <span id="vEmail"></span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <span class="v">Provincia:</span>
            <span id="vProvincia"></span>
          </div>
          <div class="col-md-6">
            <span class="v">Localidad:</span>
            <span id="vLocalidad"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal alta y modificar -->
<div
  class="modal fade"
  id="modalAyM"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Titulo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-12 col-lg-4">
              <label for="txtNombre">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="txtNombre"
                placeholder="Nombre del cliente.."
                autocomplete="off"
              />
            </div>
            <div class="form-group col-12 col-lg-4">
              <label for="txtRsocial">Razón Social</label>
              <input
                type="text"
                class="form-control"
                id="txtRsocial"
                placeholder="Razón social..."
                autocomplete="off"
              />
            </div>
            <div class="form-group col-12 col-lg-4">
              <label for="txtEmail">Email</label>
              <input
                type="text"
                class="form-control"
                id="txtEmail"
                placeholder="Email..."
                autocomplete="off"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 col-lg-4">
              <label for="txtCuit">CUIT</label>
              <input
                type="text"
                class="form-control"
                id="txtCuit"
                placeholder="CUIT.."
                autocomplete="off"
              />
            </div>
            <div class="form-group col-12 col-lg-4">
              <label for="txtTelefono">Teléfono</label>
              <input
                type="text"
                class="form-control"
                id="txtTelefono"
                placeholder="Teléfono.."
                autocomplete="off"
              />
            </div>
            <div class="form-group col-12 col-lg-4">
              <label for="txtDni">DNI</label>
              <input
                type="text"
                class="form-control"
                id="txtDni"
                placeholder="DNI.."
                autocomplete="off"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-grup col-12 col-lg-4">
              <label for="cmbProvincia">Provincia</label>
              <select id="cmbProvincia" class="form-control" onchange="ObtenerLocalidades(this.value)">
                <option value="" selected disabled> Seleccione una opción...</option>
                {% for p in provincias %}
                <option value="{{ p.id }}">{{ p.nombre }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-grup col-12 col-lg-4">
              <label for="cmbLocalidad">Localidad</label>
              <select id="cmbLocalidad" class="form-control selectpicker" disabled>
                <option value="" selected disabled>Seleccione una opción...</option>
              </select>
            </div>
            <div class="form-group col-12 col-lg-4">
              <label for="txtDireccion">Dirección</label>
              <input
                type="text"
                class="form-control"
                id="txtDireccion"
                placeholder="Dirección.."
                autocomplete="off"
              />
            </div>
            <div class="form-row">
              <div class="form-group col-12 col-lg-4">
                <label for="cmbIva">Condición IVA</label>
                <select id="cmbIva" class="form-control selectpicker" autocomplete="off">
                  <option value="">Seleccione una opción...</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="Guardar()">
          Guardar
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  let clientesMostrar = [];
  let listaClientes = [];
  let _accion = "";
  $(document).ready(() => {
    cargaDatos();
  });

  const Alta = () => {
    _accion = "a";
    Limpiar();
    $("#modalTitle").text("Alta de Cliente");
    CargarCMB();
    $("#modalAyM").modal("show");
  };

  const Guardar = async () => {
    const data = {
      nombre: $("#txtNombre").val(),
      razon_social: $("#txtRsocial").val(),
      email: $("#txtEmail").val(),
      cuit: $("#txtCuit").val(),
      telefono: $("#txtTelefono").val(),
      dni: $("#txtDni").val(),
      provincia: $("#cmbProvincia").val(),
      localidad: $("#cmbLocalidad").val(),
      direccion: $("#txtDireccion").val(),
      activo: 1
    };

    let res = null;
    $("#preloaderAPP").show();
    if (_accion == "m") {
      res = await $.post(`/clientes/modificar/${id}`, {...data, id: _id});
    } else {
      console.log(data)
      res = await $.post(`/clientes/alta`, data);
    }
    $("#preloaderAPP").hide();

    console.log(res)


  };


  const Limpiar = () => {
    $("#modalTitle").val("");
    $("#txtNombre").val("");
    $("#txtRsocial").val("");
    $("#txtEmail").val("");
    $("#txtCuit").val("");
    $("#txtTelefono").val("");
    $("#txtDni").val("");
    $("#cmbProvincia").selectpicker("refresh");
    $("#cmbLocalidad").selectpicker("refresh");
    $("#txtDireccion").val("");

    $("#cmbLocalidad").prop("disabled", true).selectpicker("refresh");
  };

  const ObtenerLocalidades = (loc = null) => {
    const id = $("#cmbProvincia").val();
    console.log(id);
    $.ajax({
      url: `/localidades/getByProvincias/${id}`,
      type: "GET",
      success: function (data) {
        UpdateCmb("id", "nombre", data, "cmbLocalidad");
        if (loc) {
          $("#cmbLocalidad").val(loc);
        }
        $("#cmbLocalidad").prop("disabled", false).selectpicker("refresh");
      }
    });
  };

  CargarCMB = async () => {
    const iva = await $.get('/condiciones_iva');
    console.log(iva);
    UpdateCmb("id", "descripcion", iva, "cmbIva");
  }

  const Ver = async (id) => {
    $("#preloaderAPP").show();
    let cliente = await $.getJSON(`/clientes/${id}`);
    console.log(cliente);

    $("#vNombre").text(`${cliente.nombre}`);
    $("#vRsocial").text(`${cliente.razon_social}`);
    $("#vTelefono").text(`${cliente.telefonos}`);
    $("#vEmail").text(`${cliente.email}`);
    $("#vLocalidad").text(`${cliente.nombre_localidad}`);
    $("#vProvincia").text(`${cliente.nombre_provincia}`);
    $("#preloaderAPP").hide();
    $("#modalVer").modal("show");
  };

  const cargaDatos = async (data = null) => {
    let provincia = $("#filtroProv").val();
    let localidad = $("#filtroLoc").val();
    let activo = null;
    let clientesMostrar = [];

    $("#preloaderAPP").show();
    if (data) {
      clientesMostrar = data;
    } else {
      clientesMostrar = await $.ajax({
        url: "/clientes/lista",
        type: "POST",
        data: { activo, provincia, localidad },
        async: false,
      }).responseJSON;
      listaClientes = clientesMostrar;
    }
    $("#preloaderAPP").hide();

    let table = $("#tablaClientes tbody");
    table.html("");

    listaClientes.map((c) => {
      table.append(
        `
          <tr>
            <td>
              <button class="btn btn-round btn-info btn-sm" onClick="Ver(${c.id})"><i class="fa fa-eye"></i></button>
              <button class="btn btn-round btn-warning btn-sm" onClick="Eliminar()"><i class="fa fa-pen"></i></button>
              <button class="btn btn-round btn-danger btn-sm" onClick="Modificar()"><i class="fa fa-trash"></i></button>
            </td>
            <td>${c.nombre}</td>
            <td>${c.razon_social}</td>
            <td>${c.telefonos}</td>
            <td>${c.email}</td>
            <td>${c.provincia}</td>
            <td>${c.localidad}</td>
          </tr>
          `
      );
    });
  };
</script>
{% endblock %}
